<div class="container-fluid parallax-test">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6 text-center main-text">
        <div class="row justify-content-center">
          <div class="col">
            <img src="/assets/images/angular_solidBlack.svg" class="angular-logo">
          </div>
        </div>
        <div class="col mt-5 ps-4 text-start">
          <h1>My Angular Projects</h1>
        </div>
        <div class="col mt-5">
          <app-photo-gallery></app-photo-gallery>
        </div>
      </div>
    </div>
  </div>
